$promaryColor: blue;
$background-widget : #ff7675;
$color-white: white;
$width-app: 450px;
$height-app: 470px;
$background-white: white;
$font-weight: 300;
$max-widthItem :450px;
$max-heightItem: 200px;
$background-colorItem: rgba(255, 255, 255, 0.2);