$promaryColor: blue;
$background-widget : #ff7675;
$color-white: white;
$width-app: 450px;
$height-app: 470px;
$background-white: white;
$font-weight: 300;
$max-widthItem :450px;
$max-heightItem: 200px;
$background-colorItem: rgba(255, 255, 255, 0.2);
$widthAddItem :270px;
$height : 50px;
$widthbtn : 100px;
$background-transparent: transparent;
$background-colorcontent: #aaa;
$color-content: #aaaaaa;
$height-form : 22px;
$width-distance:120px;
$background-colorform: rgb(0, 225, 255);
$background-image :linear-gradient(to right,rgb(0, 225, 255) , rgb(83, 43, 226));
$heightform: 700px;
$heightcontact__form: 500px;
$widthcontact__form:400px;
$padding-contact__form:50px 24px 40px 24px;
$btn-color:sandybrown;
$boder-radiuss:5px;
